.top_menu
{
    font-size: 12px;
    margin-top: -7px;
    vertical-align: middle;
    width: 510px;
}
.top_menu.authorize
{
    padding-left: 0;
    text-align: right;
}
.top_menu a, .top_menu a{
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
}
.top_menu .auth, .top_menu .register
{
    cursor: pointer;
    margin-left: 28px;
    padding-left: 17px;
    text-decoration: none;
}
.top_menu a
{
    margin-left: 8px;
}
.top_menu a.register
{
    background: url("images/register_icon.png") 0 center no-repeat;
    margin-left: 155px;
}
.top_menu.authorize a.register
{
    margin-left: 8px;
}
.top_menu a.auth
{
    background: url("images/auth_icon.png") 0 center no-repeat;
}
.top_menu .logout
{
    background: url("images/grey_bullit.png") 0 center no-repeat;
    padding-left: 8px;
}
.top_menu .user_name
{
    color: #000;
}