.nav_chain
{
    background-color: #f9f9f9;
    color: #000;
    font-size: 12px;
    padding: 2px 0 6px 20px;
}
.nav_chain *
{
    vertical-align: middle;
}
.nav_chain a
{
    color: black;
    text-decoration: none;
}
.nav_arrow
{
    background: url("/local/templates/.default/images/sprite.png") -35px -50px no-repeat;
    height: 5px;
    margin: 1px 7px 0;
    width: 4px;
}